header {
  border-bottom: 1px solid #d8d8d8;
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.09);
  backdrop-filter: blur(2px);

  color: #080808;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.header__container {
  display: flex;
  max-width: 96rem;
  padding: 1rem 1.5rem;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin: auto;
}

.header__brand {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  & img {
    width: clamp(1.125rem, 2vw, 1.4rem);
    height: clamp(1.125rem, 2vw, 1.4rem);
  }

  & span {
    color: #080808;
    font-size: 1.125rem;
    font-weight: 700;
  }
}

.header__menu-toggle {
  width: 1.125rem;
  height: 1.125rem;
}

.header__nav-list {
  display: none;
}

.header__nav-list.open {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;

  padding: 1.5rem;
  border-bottom: 1px solid #d8d8d8;
  background: rgba(255, 255, 255, 0.95);

  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  transition:
    color 0.3s ease,
    border-color 0.3s ease;

  & li:not(:last-child) {
    border-left: 4px solid transparent;
    padding-left: 1rem;
  }

  & li:not(:last-child):hover {
    border-left-color: #0056c8;
    color: #0056c8;
    transform: scale(1.02);
  }
}

.header__cta {
  display: flex;
  padding: 1rem 0;
  justify-content: center;
  align-items: center;
  gap: 0.49rem;
  border-radius: 0.25rem;
  background: #146ef5;
  transition: background 0.3s ease;

  & span {
    color: #fff;
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
  }

  & svg {
    width: 1.25rem;
    height: 1.25rem;
    color: #fff;
  }

  &:hover {
    background: #0056c8;
  }
}

.header__cta-mobile {
  display: flex;
  padding: 1.5rem;
  flex-direction: column;
  border-top: 1px solid #d8d8d8;
}

.header__cta-desktop {
  display: none;
}

.header__menu-toggle [data-lucide='x'] {
  display: none;
}

.header__menu-toggle.is-open [data-lucide='menu'] {
  display: none;
}

.header__menu-toggle.is-open [data-lucide='x'] {
  display: block;
}

/* Tablet */
@media (min-width: 768px) {
}

/* Desktop */
@media (min-width: 1024px) {
  .header__cta {
    padding: 0.625rem 1.5rem;
  }
  .header__nav-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    transition:
      border-bottom 0.3s ease,
      color 0.3s ease;

    & li:hover {
      border-bottom: 2px solid #2563eb;
    }

    & li a {
      color: #52525b;
      font-size: 1rem;
      font-weight: 500;

      transition: color 0.3s ease;

      &:hover {
        color: #2563eb;
      }
    }
  }
  .header__cta-mobile,
  .header__menu-toggle {
    display: none;
  }
  .header__cta-desktop {
    display: flex;
  }
}
