.team {
  max-width: 96rem;
  margin: 0 auto;
  padding: 6rem 1.5rem;

  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.team__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 0.5rem;
}

.team__eyebrow {
  color: #146ef5;
  font-size: 0.625rem;
  font-weight: 600;
  line-height: 0.8125rem;
  letter-spacing: 0.0625rem;
  text-transform: uppercase;
  border-radius: 0.125rem;
  background: rgba(0, 86, 200, 0.1);
  padding: 0.375rem 1rem;
  margin-bottom: 1.5rem;
}

.team__title {
  color: #080808;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  line-height: 2.5rem;
}

.team__description {
  color: #5a5a5a;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.6rem;
  letter-spacing: -0.01rem;
}

.team__list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.team__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.44rem;
  padding: 1.5rem;
  border-radius: 0.5rem;
  border: 1px solid #d8d8d8;
  background: #fff;
  text-align: center;
  transition: all 0.3s ease;

  &:hover {
    border-color: #146ef5;
    box-shadow: 0 4px 8px rgba(20, 110, 245, 0.1);
    transform: translateY(-2px);
  }
}

.team__item-image {
  & img {
    border-radius: 0.5rem;
  }
}

.team__item-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 1;
}

.team__item-name {
  color: #080808;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.95rem;
}

.team__item-title {
  color: #146ef5;
  text-align: center;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.25rem;
  flex: 1;
}

.team__item-bio {
  color: #5a5a5a;
  text-align: center;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.42188rem;
  letter-spacing: -0.01rem;
  flex: 1;
}

.team__item-education {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  & p {
    display: flex;
    padding: 0.25rem 0.5rem;
    flex-direction: column;
    align-items: center;
    border-radius: 0.125rem;
    background: #e6e7f3;

    color: #424655;
    text-align: center;
    font-size: 0.625rem;
    font-weight: 700;
    line-height: 0.9375rem;
    text-transform: uppercase;
  }
}

.team__item-social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  & a img {
    color: #5a5a5a;
    width: 1.5rem;
    height: 1.5rem;
    transition: all 0.3s ease;

    &:hover {
      transform: scale(1.1);
    }
  }
}

/* Tablet */
@media (min-width: 768px) {
  .team__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Desktop */
@media (min-width: 1024px) {
  .team__item-education {
    flex-direction: row;
  }
  .team__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}
