@import url('./components/header.css');
@import url('./components/hero.css');

body {
  background: linear-gradient(0deg, #faf8ff 0%, #faf8ff 100%), #fff;
  font-family: 'Plus Jakarta Sans', sans-serif;
  color: #080808;
}
